.Barras-superior {
    font-size: 30px;
    color: white;
    background: black;
    border: 100px;
    display: flex;
    justify-content: space-between;
}

.link-a {
    cursor: pointer;
}

.header1 {
    background: green;
    display: flex;
    color: white;
}

.links1 {
    cursor: pointer;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 33px;
}

a:hover {
    color: yellow;
}

.imput{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 14px;
}

.botao-pesquisar {
    margin-left: 680px;
    position: relative;
    margin-top: 15px;
    text-align: center;
    padding-left: 0px;
}

.lupa {
    border: 0 0 21px 0;
    margin-top: 10px;
}

.header2 {
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.img-minhaconta {
    padding: 0px 0px 0px 0px;
    margin: 0px 41px 0px 24px;
}

.minha-conta {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.img-meuspedidos {
    padding: 0px 0px 0px 0px;
    margin: 0px 41px 0px 24px;
}

.meus-pedidos {
    display: flex;
    flex-direction: column;
    padding-right: 10px 0 10px 0;
    margin-top: 10px;
}

.img.carrinhodecompras {
    padding: 0px 0px 0px 0px;
    margin: 0px 41px 0px 24px;
}

.carrinho {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.subtitulo {
    background: greenyellow;
    font-size: 26px;
    display: flex;
    justify-content: center;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

h2 {
    background: greenyellow;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 0 5px 0 5px;
    margin: 0px;
    color: #000000;

}

h3 {
    font-size: 30px;
    background:greenyellow;
    margin: 0px;
    display: flex;
    padding: 0px;
    color: black;
}

.videos {
    background: greenyellow;
    color: black;
}

button {
    background: #e67829;
    font-size: 10px;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;

}

button:hover{
     color: white; }

.imagens2 {
    background: greenyellow;
    color: black;
}

.rodape {
    background: black;
    font-size: 24px;
    text-align: center;
    color: white;
}