@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;


}

body {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

h2{
font-size: normal;
font-weight: 400;
font-size: 51px;
line-height: 38px;
color: #ffffff;
text-align: center;
margin-top: 126px;
margin-bottom: 26px;



}

input{
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    height: 74px;
    width: 342px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    opacity: 0.7;

}

.input-min{
    margin-right: 62px;

}

button{
   background: #aec346;
   box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.39);
   border-radius: 10px;
   width: 750px;
   height: 72px;
   color: #FFFFFF;
   font-weight: 700;
   font-size: 36px;
   margin-top: 80px;
   border: none;
   cursor: pointer;

}

button:hover{
    opacity: 0.9;

}

button:active{
    opacity: 0.8;

}

@media screen and (max-width: 745px){
img{
    width: 360px;
}

h2{
    font-size: 38px;
    margin-top: 50px;
}

input{
width: 143px;
}

.input-min{
width: 135px;
margin-right: 20px;

}

button{
    width: 300px;
    margin-top: 50px;
}


}