* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #8a51fc;
}

.logo {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
}

main {
    width: 375px;
    background: rgba(244, 244, 244, 1);
    border-radius: 20px;
    border: 16px;
    padding: 16px 8px 16px 8px;
    height: 712px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    border: 16px;
    pad: 16px 8px 16px 8px;
    width: 80px;
    height: 18px;
    left: 24px;
    top: 44px;
}

select {
    width: 327px;
    height: 48px;
    left: 24px;
    top: 80px;
    border-radius: 8px;
    border: 1px solid #000000;
    background: #FFFFFF;
    margin-bottom: 24px;
    padding: 18px;
    font-weight: 200px;
    font-size: 16px;
    color: black;
    appearance: none;
    cursor: pointer;
    margin-left: 15PX;
}

input {
    width: 327px;
    height: 48px;
    left: 24px;
    top: 80px;
    border-radius: 8px;
    border: 1px solid #000000;
    background: #FFFFFF;
    margin-bottom: 24px;
    padding: 18px;
    font-weight: 200px;
    font-size: 16px;
    color: black;
    appearance: none;
    margin-left: 15px;
}

button {

    width: 327px;
    height: 48px;
    top: 68px;
    left: 24px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    background: rgba(138, 81, 252, 1);
    border: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 15PX;


}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;

}

section {
    border: 1px solid #772fd3;
    padding: 12px;
    width: 327px;
    height: 315px;
    margin-top: 36px;
    left: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.seta {
    margin: 15px 0;
}

.caixa1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.caixa2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda {
    color: rgba(119, 119, 119, 1);
    font-size: 14px;
}

.valor-moeda {
    color: rgba(85, 85, 85, 1);
    font-weight: 700;
    font-size: 20px;


}