* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {

    background-color: #8a51fc;

}

.logo {
    width: 300px;
    display: block;
    margin: 20px auto;

}

main {

    border-radius: 20px;
    background: rgba(244, 244, 244, 1);
    margin: 0 auto 40px;
    width: 375px;
    padding: 44px 24px 33px;

}

label {

    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select,
input {

    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;

}

.convert-button {

    background: #772fd3;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    width: 100%;
    cursor: pointer;
    height: 48px;
    font-size: 18px;
    font-weight: 700;

}

button:hover {
    opacity: 0.8;

}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.seta-img {
    margin: 15px 0;

}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}

.currency {

    font-size: 14px;
    color: #777777;
}

.currency-value, .currency-value-to-convert {

    font-size: 20px;
    font-weight: 700;
    color: #555555;

}